@charset "ISO-8859-1";


	*
{
		color: aliceblue;
}
body
{
	
    background-image: url("/news/src/main/webapp/WEB-INF/images/4.jpg");
	background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
    
  

}
textarea
	{
  width:75%;
  height: 75%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 10px;
  border-radius: 30px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 background-color: rgba(0, 0, 0, 0) ;
 text-align:center;
  
	}
h1
{
	font-size:30px;
	color:yellow;
}

input[type=text],input[type=file]
	{
    background-color: rgba(0, 0, 0, 0) ;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	}
.text
{
	 color:white;
	  width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box
}
form
{
	
	background-color: rgba(0,0,0,0.7);
	font-size:18px;
	border-radius: 10px;
	border:1px soid rgba(255,255,255,0.3);
	box-shadow: 2px 2px 15px
	rgba(0,0,0,0.3);
	color: #fff;
	align-content: center;
}


.button {
  display: inline-block;
  border-radius: 2px;
  background-color: #111;
  border: none;
   color:#1BA7E4;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}