@charset "ISO-8859-1";
*
{
	margin :10px;
	padding:10px;
	
}
body
{
    background-image: url("/news/src/main/webapp/WEB-INF/images/5.jpg");
	background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;
	overflow: hidden;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"
  

}
input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 50%;
    background-color: #8080ff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #80ffff;
}
input[type=reset] 
{
	    background-color: #00ffff;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

form
{
	margin-left: 450px;
	width:50%;
	font-size:18px;
	border-radius: 10px;
	align-content: center;
}